/cross-road.exe
# Ignore build artifacts and IDE files
/CMakeFiles/
/cmake-build-debug/
/cmake-build-debug-wsl/
/build/
/build-qt/
/*.o
/*.obj
/*.exe
/*.dll
/*.lib
/*.pdb

# VS / Visual Studio
.vscode/
.vs/
*.VC.db

# CLion
.idea/

# macOS
.DS_Store

# temp
*.log
!/build_qt/
!/cmake-build-debug/
!/cmake-build-debug-wsl/
